{% extends "auth/parent.html" %}

{% block secondary %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/us/us-all.js"></script>


<div id="secondary-navbar">
            <div class="d-flex flex-wrap w-100 justify-content-between">
                <ul class="list-inline">
                    <!--Influencers dropdown-->
                    <li class="list-inline-item">
                        <div class="dropdown"> 
                            <div class="btn-group">
                                <button style="color:grey;" class="btn btn-default dropdown-toggle btn-narrow" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Influencers</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">All Influencers</a>
                                    <a class="dropdown-item" href="#">West Coast</a>
                                    <a class="dropdown-item" href="#">East Coast</a>
                                    <a class="dropdown-item" href="#">Spring Campaign</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <!--Timerange dropdown-->
                        <div class="dropdown"> 
                            <div class="btn-group">
                                <button style="color:grey;" class="btn btn-default dropdown-toggle btn-narrow" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Week to Date</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Week to Date</a>
                                    <a class="dropdown-item" href="#">Last Week</a>
                                    <a class="dropdown-item" href="#">Month to Date</a>
                                    <a class="dropdown-item" href="#">Last Month</a>
                                    <a class="dropdown-item" href="#">Year to Date</a>
                                    <a class="dropdown-item" href="#">Last Year</a>
                                    <a class="dropdown-item" href="#">Custom</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="btn-group">
                            <button style="color:grey;" class="btn btn-blue-grey btn-narrow"><i class="fa fa-cloud-download mr-1"></i> Export</button>
                        </div>
                    </li>
        
                </ul>

               
                <ul class="nav nav-pills hidden-sm-down" id="nav-dashboard">
                    <li class="nav-item"><a class="nav-link active" href="#anchor-goals">Goals</a></li>
                    <li class="nav-item"><a class="nav-link" href="#anchor-dashboard-influencers">Influencers</a></li>
                    <li class="nav-item" id="tab-posts"><a class="nav-link" href="#anchor-posts">Posts</a></li>
                </ul>

            </div>
 
        </div>



{% endblock %}



{% block main %}


    <main>

        <div class="container">

            <!--Input for Campaign Handle-->
            <form class="form-inline">

                <div class="md-form form-group">
                    <i class="fa fa-instagram prefix"></i>
                    <input type="text" id="campaignHandle" class="form-control">
                    <label for="campaignHandle">Enter keyword to track posts</label>
                </div>

                <a class="btn btn-primary btn-lg">Track</a>

            </form>

            <br>

            <section id="goals">

                <a class="anchor" id="anchor-goals"></a>

                <h1 class=h1.responsive>Summary</h1>
                <br>

                <div class="row">

                    <!--Statistics Card-->
                    <div class="col hidden-xs-down">
                        <!--Card-->
                        <div class=" card card-block">
                            <!--Text-->
                            <div class="row">
                                <div class="col-sm-2"><p class="card-text text-center">{{posts}}<br /><small>posts</small></p></div>
                                <div class="col-sm-2"><p class="card-text text-center">{{likes}}<br /><small>likes</small></p></div>
                                <div class="col-sm-2"><p class="card-text text-center">{{comments}}<br /><small>comments</small></p></div>
                                <div class="col-sm-2"><p class="card-text text-center comingSoon">N/A<br /><small>views</small></p></div>
                                <div class="col-sm-2"><p class="card-text text-center comingSoon">N/A<br /><small>clicks</small></p></div>
                                <div class="col-sm-2"><p class="card-text text-center comingSoon">N/A<br /><small>sales</small></p></div>
                            </div>
                        </div>  
                    </div>

                </div>

                <div class="row hidden-sm-up">

                <!--Statistics Card Mobile-->
                    <div class="col-sm-12">
                        <!--Card-->
                        <div class=" card card-block">
                            <!--Text-->
                            <div class="row">
                                <div class="col"><p class="card-text">{{posts}}<br />posts</p></div>
                                <div class="col"><p class="card-text">{{likes}}<br />likes</p></div>
                                <div class="col"><p class="card-text">{{comments}}<br />comments</p></div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col"><p class="card-text comingSoon">N/A<br />views</p></div>
                                 <div class="col"><p class="card-text comingSoon">N/A<br />clicks</p></div>
                                <div class="col"><p class="card-text comingSoon">N/A<br />sales</p></div>
                            </div>
                            <br>
                        </div>
                        <!--/.Card-->   
                    </div>
                </div>

                <br>

            </section>

            <br>

            <section id="dashboard-influencers">
                <a class="anchor" id="anchor-dashboard-influencers"></a>
                <div class="d-flex justify-content-between flex-wrap">
                        
                    <h1 class="h1.responsive">Influencers</h1>
                    <!--Rank By Dropdown-->
                    <!--
                    <div class="dropdown"> 
                        <div class="btn-group">
                            <button class="btn btn-default btn-narrow dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rank ROI by</button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="fa fa-check"></i>Overall Performance</a>
                                <a class="dropdown-item" href="#">Views</a>
                                <a class="dropdown-item" href="#">Likes</a>
                                <a class="dropdown-item" href="#">Comments</a>
                                <a class="dropdown-item" href="#">Clicks</a>
                                <a class="dropdown-item" href="#">Sales</a>
                            </div>
                        </div>
                    </div>
                -->

                </div>

                <br>

                <!--Influencers Card-->
                <div class="list-group">
                    
                    {% for i in influencers %}

						<!--Influencer-->
                    <a href="https://www.instagram.com/{{i.handle}}/" class="list-group-item list-group-item-action d-flex justify-content-start flex-nowrap" target="_blank">

                        <!--Profile Pic-->
                        <img class="img-fluid rounded-circle align-self-start" src={{ pictures[loop.index0] }}>

                        <div class="d-flex flex-wrap align-self-center">

                            <div class="influencer-name">
                                 <!--Influencer Name-->
                                <strong>{{ names[loop.index0] }}</strong>
                                <!--Influencer Rating-->
                                <ul class="rating inline-ul margins-reset">
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>

                            <!--Influencer Stats-->
                            <div>
                                <div class="d-flex flex-wrap">
                                    <div class="metric"><strong data-toggle="tooltip" data-placement="top" title="Avg for your posts">{{ likesArray[loop.index0] }}</strong> | <p data-toggle="tooltip" data-placement="top" title="Avg for regular posts">102<br /></p><small>likes per post</small></div>
                                    <div class="metric"><strong data-toggle="tooltip" data-placement="top" title="Avg for your posts">{{ commentsArray[loop.index0] }}</strong> | <p data-toggle="tooltip" data-placement="top" title="Avg for regular posts">76<br /></p><small>coms per post</small></div>
                                    <div class="metric comingSoon">N/A<br /><small>views per post</small></div>
                                    <div class="metric comingSoon">N/A<br /><small>clicks per post</small></div>
                                    <div class="metric comingSoon">N/A<br /><small>sales per post</small></div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex flex-nowrap ml-auto">
                            <div class="metric">{{ numPostsArray[loop.index0]}}<br /><small>posts</small></div>
                            <div class="metric comingSoon">N/A<br /><small>cost</small></div>
                        </div>

                    </a>

                    {% endfor %}

                </div>

                <br>

            </section>

            <br>

            <section id="posts">

                <a class="anchor" id="anchor-posts"></a>

                <div class="d-flex justify-content-between">

                    <h1 class="h1.responsive">Posts</h1>
                    
                    <!--Posts Dropdown-->
                    <!--
                    <div class="dropdown"> 
                        <div class="btn-group">
                            <button class="btn btn-default btn-narrow dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:grey;">Filter by</button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Date</a>
                                <a class="dropdown-item" href="#">Views</a>
                                <a class="dropdown-item" href="#">Likes</a>
                                <a class="dropdown-item" href="#">Comments</a>
                                <a class="dropdown-item" href="#">Clicks</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-check"></i>ROI</a>
                            </div>
                        </div>
                    </div>
                -->
                </div>

                <br>

                <div class="row">
                    
                    {% for m in media %}
                    	<div class="col-sm-6 col-lg-4">
                            <!--Post card-->
                            <div class="card">
                                <!--Post image-->
                                <div class="post-image view overlay hm-white-slight">
                                    <img class="img-fluid full-width" src="{{m.images['standard_resolution'].url}}" alt="{{m.caption.text}}">
                                    <a href="{{m.link}}" target="_blank">
                                        <div class="mask waves-effect waves-light"></div>
                                    </a>
                                </div>
                                <!--Post stats-->
                                <div class="card-block">
                                    <!--Title-->
                                    <h4 class="card-title">{{m.user.full_name}}</h4>
                                    <!--Text-->
                                    <div class="row">
                                        <div class="col-3"><p class="card-text">{{'{:,}'.format(m.likes.count)}}<br /><small>likes</small></p></div>
                                        <div class="col-3"><p class="card-text">{{'{:,}'.format(m.comments.count)}}<br /><small>coms</small></p></div>
                                        <div class="col-3 comingSoon"><p class="card-text">N/A<br /><small>views</small></p></div>
                                        <div class="col-3 comingSoon"><p class="card-text">N/A<br /><small>clicks</small></p></div>
                                    </div>
                                </div>
                            </div>
                        <br>
                    </div>

                    {% endfor %}
               
                </div>

                <br>

            </section>

            <br>

            <section id="comingSoon">

                <h1 class="h1.responsive">Coming Soon</h1>

                <br>

                <div class="row">

                <div class="col-sm-4">
                    <div class="row">

                        <!--ROI Card-->
                        <div class="col">
                            <div class=" card card-block">
                                <!--Title-->
                                <h4 class="card-title comingSoon">ROI</h4>
                                <!--Text-->
                                <p class="card-text comingSoon">Sales: N/A</p>
                                <p class="card-text comingSoon">Investment: N/A</p>
                                <strong class="card-text comingSoon">ROI: N/A</strong>
                            </div>
                        </div>

                    </div>
                    <br>

                    <div class="row">

                        <!--Gender Card-->
                        <div class="col">
                            <div class=" card card-block">
                                <!--Title-->
                                <h4 class="card-title comingSoon">Audience Gender</h4>
                                <!--Text-->
                                <p class="card-text comingSoon">Female: N/A
                                <p class="card-text comingSoon">Male: N/A</p>
                            </div>
                        </div>

                    </div>
                    <br>
                </div>

                <!--Location Card-->
                <div class="col-sm-8">
                    <!--Card-->
                    <div class=" card card-block">
                        <!--Title-->
                        <h4 class="card-title comingSoon">Audience Location</h4>
                        <div class="row">
                            <!--Graph-->
                            <div class="col" id="map" style="height: 475px">
                                <!-- <img class="img-fluid" src="http://i.imgur.com/9TNF3ST.png" alt="Location Distribution"> -->
                                <script>

                                var data = {{json|tojson}};
                                
                                    // Make codes uppercase to match the map data
                                    $.each(data, function () {
                                        this.code = this.code.toUpperCase();
                                    });

                                    // Instanciate the map
                                    Highcharts.mapChart('map', {

                                        chart: {
                                            borderWidth: 0
                                        },

                                        title: {
                                            text: null
                                        },

                                        legend: {
                                            layout: 'horizontal',
                                            borderWidth: 0,
                                            backgroundColor: 'rgba(255,255,255,0.85)',
                                            floating: true,
                                            verticalAlign: 'bottom',
                                            y: 25,
                                            enabled: false
                                        },

                                        mapNavigation: {
                                            enabled: false
                                        },

                                        colorAxis: {
                                            min: 0,
                                            type: 'linear',
                                            minColor: 'rgba(255, 96, 96, 0.1)',
                                            maxColor: 'rgba(255, 96, 96, 1.0)',
                                            // stops: [
                                            //     [0, '#EFEFFF'],
                                            //     [0.67, '#4444FF'],
                                            //     [1, '#000022']
                                            // ]
                                        },

                                        series: [{
                                            animation: {
                                                duration: 0
                                            },
                                            data: data,
                                            mapData: Highcharts.maps['countries/us/us-all'],
                                            joinBy: ['postal-code', 'code'],
                                            dataLabels: {
                                                enabled: true,
                                                color: '#FFFFFF',
                                                format: '{point.code}'
                                            },
                                            name: 'Percent of Audience',
                                            tooltip: {
                                                pointFormat: '{point.code}: {point.value}%'
                                            }
                                        }]
                                    });
                                 </script>
                                <br>
                            </div>
                        </div>
                    </div>
                    <!--/.Card--> 
                </div>
                
                <hr>

            </section>


        </div>
        

   
    </main>





{% endblock %}