{% extends "auth/parent.html" %}

{% block secondary %}{% endblock %}



{% block main %}
    <main>
         <div class="container">

            <section id="influencers">

                <div class="d-flex justify-content-between">
                    <h1 class="h1.responsive">Influencers</h1>
                </div>

                <div class="influencer-filters">
                    <div class="d-flex justify-content-between align-items-end flex-nowrap">

                        <!--Search box-->
                        <div class="md-form form-sm form-group influencer-search-box">
                            <i class="fa fa-search prefix"></i>
                            <input type="search" class="form-control" placeholder="Search for influencers">
                        </div>

                        
                        <!--Groups button-->
                        <div class="dropdown align-self-start">
                            <div class="btn-group">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Groups</button>
                                <div class="dropdown-menu dropdown-menu-right"=>
                                    <div class = "influencer-groups">
                                        <a class="dropdown-item" href="#">All Influencers</a>
                                        <a class="dropdown-item" href="#">West Coast</a>
                                        <a class="dropdown-item" href="#">East Coast</a>
                                        <a class="dropdown-item" href="#">Spring Campaign</a>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item create-group-btn" href="#" style="color:grey;">Create New Group</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>


                <!--Influencer List-->
                <div class="list-group influencer-list">

                    <!--Menu for creating groups-->
                    <div class="add-group-menu">
                        <div href="#" class="list-group-item d-flex flex-wrap justify-content-between">

                            <div>
                                <i class="fa fa-angle-down extra-margin-right"></i>
                                Select influencers
                            </div>

                            <!--Group Name Form-->
                            <form class="form-inline formGroupName">

                                <div class="md-form form-sm form-group form-group-name">
                                    <i class="fa fa-users prefix"></i>
                                    <input required type="text" class="form-control" id="groupInput" placeholder="Add a group name">
                                </div>

                                <button type="submit" class=" btn-group-create btn btn-primary  btn-narrow" disabled>Create</button>

                                <button type="button" class="btn-group-cancel btn btn-default btn-narrow">Cancel</button>
                                
                            </form>
                        </div>
                    </div>

                    

                    {% for i in influencers %}


    
                        <div href="#" class="list-group-item list-group-item-action d-flex justify-content-start flex-nowrap">
                        <img class="img-fluid rounded-circle" src={{ pictures[loop.index0] }}>
                        <div class="d-flex justify-content-start flex-wrap">
                            <div class="influencer-name"><strong>{{ names[loop.index0] }}</strong></div>
                            <div class="extra-margin-right"><small style="color:grey;">385k followers</small></div>
                            <div class="extra-margin-right"><small style="color:grey;">3,954 posts</small></div>
                        </div>
                        <div class="ml-auto d-flex flex- align-items-center">
                            <a href="https://www.instagram.com/{{i.handle}}/" target="_blank"><i class="fa fa-instagram btn-influencer"></i></a>
                            <a href="https://www.instagram.com/audreylombard/" target="_blank"><i class="fa fa-facebook btn-influencer" style="color:grey;"></i></a>
                            <a href="https://www.instagram.com/audreylombard/" target="_blank"><i class="fa fa-twitter btn-influencer" style="color:grey;"></i></a>
                            <a href="https://www.instagram.com/audreylombard/" target="_blank"><i class="fa fa-snapchat btn-influencer" style="color:grey;"></i></a>
                            <a class="remove-influencer-btn btn-influencer"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </div>
                    {% endfor %}

                </div>

                    

                <br>

                <!--Add Influencers button-->
                <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#add-influencers"><i class="fa fa-plus"></i> Add Influencers</button>

                <!--Add Influencers Modal-->
                <div class="modal fade" id="add-influencers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <!--Content-->
                        <div class="modal-content">
                            <!--Header-->
                            <div class="modal-header">
                                <h4 class="modal-title w-100" id="myModalLabel">Add influencers</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!--Body-->
                            <div class="modal-body">
                                <div class="md-form">
                                    <input id="profileUrl" type="search" class="form-control" placeholder="Enter Influencer Instagram Handle">
                                </div>
                                <button type="button" class="add-influencer-btn btn btn-default ml-auto">Add</button>

                                
                                <div class="alert alert-danger" id="invalid" role="alert">Influencer handle is invalid. Please try again!</div>
                                <div class="alert alert-danger" id="duplicate" role="alert">You are already following this influencer!</div>

                            </div>
                        </div>
                        <!--/.Content-->
                    </div>
                </div>

            </section>

         </div>  

         <div class="alerts-container">
        </div>

    </main>

    {% endblock %}

    
