{% extends "auth/parent.html" %}
{% block secondary %}{% endblock %}
{% block main %}
<div class= "col-md-6 col-md-offset-3">
<h2>Please login:</h2>
</div>



<iframe src="https://instagram.com/accounts/logout/" width="0" height="0"></iframe>

<div class= "col-md-6 col-md-offset-3">
<form action= "" method="post">
  Email:<br>
  <input class="form-control" type="text" name="email"><br>
  Password:<br>
  <input class="form-control" type="password" name="password"><br>
  <input type="submit" class="btn btn-primary" style="background-color:rgb(251, 70, 78)" value="Submit">
</form>
</div>


{% endblock %}








