body {
	background-color: #FAFAFA;
}

main {
    padding-top: 5rem;
    padding-bottom: 1rem;
}

#campaignHandle {
	width: 300px;
}

#goals {
	margin-top: 0px;
}

#influencers img, 
#dashboard-influencers img {
	width: 40px;
	margin-right: 1rem;
}

#secondary-navbar {
	display:none;
	width:100%;
	height: 75px;
	background-color: hsla(360, 100%, 100%, 0.96) ;
	margin-top:50px;
	padding-top:18px;
	padding-bottom: 1rem;
	padding-left:2rem;
	padding-right:2rem;
	position:fixed;
	z-index: 1000;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add-group-menu {
}

.alerts-container {
	position:fixed;
	top: 1rem;
	right:1rem;
	width: 25%;
	z-index: 9999;
}

.anchor {
	display: block;
	position: relative;
	top: -150px;
	visibility: hidden;
}

.btn-narrow{
	padding-left: 1rem;
	padding-right: 1rem;
}

.btn-influencer{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.comingSoon {
	color: #E0E0E0;
}

.chip {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #e4e4e4;
  margin-bottom: 5px;
  margin-right: 5px;
}

.chip > img {
  float: left;
  margin: 0 8px 0 -12px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.chip .close {
  cursor: pointer;
  float: right;
  font-size: 16px;
  line-height: 32px;
  padding-left: 8px;
}

.extra-margins {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.extra-margin-right {
	margin-right:1rem;
}

.extra-margin-right-2x {
	margin-right:2rem;
}

.form-group-name {
	width:300px;
	margin-bottom:0;
}
#formInfluencerHandle {
	width: 300px !important;
}

.groups-btn {
	margin-left:auto;
	margin-right:0px;
}

.influencer-name {
	width: 15rem;
}

.influencer-stat {
	width: 4rem;
}

.influencer-search-box{
	width:550px;
	margin-bottom:0;
	margin-top:auto;
}

.loadSpinner {
	display: none;
}

.logo{
	text-align:center;
	font-size: 50px;
	letter-spacing: -3px;
	color: #E91E63;
	font-weight: 450;
}

.margins-reset {
	margin-top:0;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
}

.mask-add-cost {
	z-index: 500;
}

.metric {
	text-align: center;
	padding-right: 2rem;
}

.metric p {
	display: inline;
}

.minHeight {
	height: 500px;
}


.navbar{
	background-color:#E91E63;
}

.nav-pills .nav-link {
  border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .nav-item.show .nav-link {
  color: #fff;
  cursor: default;
  background-color: #4285F4;
}

.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover,
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover {
  background-color: #4285F4;
  color: #fff; }


.noInfluencers {
	height: 250px;
	background-color: #EEEEEE;
	border-radius: 3px;
	text-align: center;
	color:#9E9E9E;
	padding: 110px;
}

.post {
	position: relative;
	z-index: 500;
}

.post-image {
	position:relative;
	overflow:hidden;
	padding-bottom:100%;
}

.post-image img {
	position:absolute;
}


.remove-influencer-btn{
	margin-left: 2rem;
}

.signIn {
	height: 70vh;
}
.rating {
	width: 100px;
}
